# Homework Assignment #1

*due Tuesday, February 5, 2019 by 11:59pm*

This homework is worth **10 points** [100%] with the option to score **extra 1.5 points [15%]** if you submit the additional questions.

### n.b.
All deliverables are required to be typed and all graphs and statistical output generated in Jupyter Notebook using Python and associated packages. Deliverables with *any* handwritten elements will not be accepted and will receive a grade of zero. 

You are required to upload the ```ipynb``` file to **your private GitHub repository within the MSCS686 organization** as the deliverable. Use the ```homework_01.ipynb``` file as a template and write the answers in text and include relevant code below each question.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Data
Make sure you completed the following:
* Created `data` directory in the `hw1` folder
* Downloaded the [housing data](https://s3-us-west-1.amazonaws.com/usfca-cs686-ml/hw1/housing.csv) to the `data` directory

In [2]:
# Path to housing.csv
data_path = os.path.join("data", "housing.csv")

if not os.path.exists(data_path):
    print("Download data first!")

## Part 1: Read & clean data [total of 50%]

#### 1.1 Read the data to a pandas DataFrame, print the first 7 entries [10%]
**IMPORTANT**: Read the data so that **`Id`** is set as the index column.<br/>
HINT: Refer to the [docs](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [5]:
df = pd.read_csv(data_path)
print(df[:7])

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
5   6          50       RL         85.0    14115   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg

  LandContour Utilities    ...     PoolArea PoolQC  Fence MiscFeature MiscVal  \
0         Lvl    AllPub    ...            0    NaN    NaN         NaN       0
1         Lvl    AllPub    ...            0    NaN    NaN         NaN       0
2         Lvl    AllPub    ...            0    NaN    NaN         NaN       0
3         Lvl    AllPub    ...            0    NaN    NaN         NaN       0
4         Lvl    AllPub    ...            0    NaN    NaN         NaN       0
5         Lvl    AllPub    ...            0    NaN  MnPrv        Shed     700
6         Lvl    AllPub    ...            0    NaN    NaN         NaN       0

  MoSold YrSold  SaleType  SaleCondition  SalePrice
0      2   2008        WD         Normal     208500
1      5   2007        WD         Normal     181500
2      9   2008        WD         Normal     223500
3      2   2006        WD        Abnorml     140000
4     12   2008        WD         Normal     250000
5     10   2009        WD         Normal     143000
6      8   2007        WD         Normal     307000

[7 rows x 81 columns]

#### 1.2 Print the names of columns, and number of rows and columns in the DataFrame [10%]

In [13]:
print("columns: " + df.columns)
print("num rows: %d" % df.shape[0])
print("num col: %d" % df.shape[1])

Index(['columns: Id', 'columns: MSSubClass', 'columns: MSZoning',
       'columns: LotFrontage', 'columns: LotArea', 'columns: Street',
       'columns: Alley', 'columns: LotShape', 'columns: LandContour',
       'columns: Utilities', 'columns: LotConfig', 'columns: LandSlope',
       'columns: Neighborhood', 'columns: Condition1', 'columns: Condition2',
       'columns: BldgType', 'columns: HouseStyle', 'columns: OverallQual',
       'columns: OverallCond', 'columns: YearBuilt', 'columns: YearRemodAdd',
       'columns: RoofStyle', 'columns: RoofMatl', 'columns: Exterior1st',
       'columns: Exterior2nd', 'columns: MasVnrType', 'columns: MasVnrArea',
       'columns: ExterQual', 'columns: ExterCond', 'columns: Foundation',
       'columns: BsmtQual', 'columns: BsmtCond', 'columns: BsmtExposure',
       'columns: BsmtFinType1', 'columns: BsmtFinSF1', 'columns: BsmtFinType2',
       'columns: BsmtFinSF2', 'columns: BsmtUnfSF', 'columns: TotalBsmtSF',
       'columns: Heating', 'columns: HeatingQC', 'columns: CentralAir',
       'columns: Electrical', 'columns: 1stFlrSF', 'columns: 2ndFlrSF',
       'columns: LowQualFinSF', 'columns: GrLivArea', 'columns: BsmtFullBath',
       'columns: BsmtHalfBath', 'columns: FullBath', 'columns: HalfBath',
       'columns: BedroomAbvGr', 'columns: KitchenAbvGr',
       'columns: KitchenQual', 'columns: TotRmsAbvGrd', 'columns: Functional',
       'columns: Fireplaces', 'columns: FireplaceQu', 'columns: GarageType',
       'columns: GarageYrBlt', 'columns: GarageFinish', 'columns: GarageCars',
       'columns: GarageArea', 'columns: GarageQual', 'columns: GarageCond',
       'columns: PavedDrive', 'columns: WoodDeckSF', 'columns: OpenPorchSF',
       'columns: EnclosedPorch', 'columns: 3SsnPorch', 'columns: ScreenPorch',
       'columns: PoolArea', 'columns: PoolQC', 'columns: Fence',
       'columns: MiscFeature', 'columns: MiscVal', 'columns: MoSold',
       'columns: YrSold', 'columns: SaleType', 'columns: SaleCondition',
       'columns: SalePrice'],
      dtype='object')
num rows: 1460
num col: 81

#### 1.3

#### (a) Create a subset of original dataset with the  rows 200 to 1400 and the columns according to the list below. [5%]

In [15]:
# DO NOT CHANGE THIS CELL
cols = ['LotFrontage', 'LotArea', 'Neighborhood', 'OverallCond', 'YearBuilt', 'YrSold', 'GrLivArea', '1stFlrSF', '2ndFlrSF',
       'SaleCondition', 'SalePrice']

In [17]:
subset = df.loc[200:1400, cols]

#### (b) Rename column`YrSold` to `YearSold` [5%]

In [18]:
subset.rename({"YrSold": "YearSold"})

,LotFrontage,LotArea,Neighborhood,OverallCond,YearBuilt,YrSold,GrLivArea,1stFlrSF,2ndFlrSF,SaleCondition,SalePrice
200,80.0,8546,Edwards,5,2003,2010,1121,1121,0,Normal,140000
201,75.0,10125,Mitchel,6,1977,2008,1279,1279,0,Normal,171500
202,50.0,7000,OldTown,6,1924,2006,1310,865,445,Normal,112000
203,NaN,4438,CollgCr,5,2004,2008,848,848,0,Normal,149000
204,50.0,3500,OldTown,7,1947,2009,1284,720,564,Normal,110000
205,99.0,11851,Gilbert,5,1990,2009,1442,1442,0,Normal,180500
206,40.0,13673,Sawyer,5,1962,2007,1696,1696,0,Normal,143900
207,NaN,12493,NAmes,5,1960,2008,1100,1100,0,Normal,141000
208,NaN,14364,SawyerW,5,1988,2007,2062,1180,882,Normal,277000
209,75.0,8250,NAmes,7,1964,2008,1092,1092,0,Normal,145000
210,67.0,5604,Edwards,6,1925,2008,864,864,0,Normal,98000
211,83.0,10420,Edwards,5,2009,2010,1212,1212,0,Normal,186000
212,72.0,8640,Somerst,5,2009,2009,1852,932,920,Partial,252678
213,43.0,13568,CollgCr,5,1995,2006,990,990,0,Normal,156000
214,NaN,10900,CollgCr,7,1977,2010,1392,689,703,Normal,161750
215,72.0,10011,NAmes,6,1957,2006,1236,1236,0,Normal,134450
216,65.0,8450,CollgCr,5,2004,2008,1436,1436,0,Normal,210000
217,57.0,9906,OldTown,4,1925,2006,1328,810,518,Family,107000
218,NaN,15660,Crawfor,9,1939,2008,1954,1137,817,Normal,311500
219,43.0,3010,Blmngtn,5,2005,2006,1248,1248,0,Partial,167240
220,73.0,8990,CollgCr,5,2006,2006,1498,1498,0,Partial,204900
221,NaN,8068,Gilbert,5,2002,2009,2267,1010,1257,Normal,200000
222,85.0,11475,NWAmes,6,1975,2006,1552,811,741,Normal,179900
223,70.0,10500,NAmes,6,1971,2009,864,864,0,Abnorml,97000
224,103.0,13472,NridgHt,5,2003,2009,2392,2392,0,Normal,386250
225,21.0,1680,BrDale,5,1971,2009,1302,630,672,Abnorml,112000
226,82.0,9950,NoRidge,5,1995,2007,2520,1214,1306,Abnorml,290000
227,21.0,1869,BrDale,6,1970,2008,987,483,504,Normal,106000
228,70.0,8521,Sawyer,5,1967,2010,912,912,0,Normal,125000
229,43.0,3182,Blmngtn,5,2005,2009,1555,1555,0,Normal,192500
...,...,...,...,...,...,...,...,...,...,...,...
1371,80.0,9600,NAmes,6,1955,2008,1661,1661,0,Normal,165500
1372,75.0,9750,CollgCr,6,1998,2006,2097,1108,989,Normal,274300
1373,NaN,11400,NoRidge,5,2001,2007,2633,2633,0,Normal,466500
1374,85.0,10625,Somerst,5,2005,2008,1958,1026,932,Normal,250000
1375,89.0,10991,Timber,5,2007,2007,1571,1571,0,Partial,239000
1376,52.0,6292,SWISU,5,1930,2008,790,790,0,Normal,91000
1377,60.0,10998,Edwards,5,1941,2009,1604,984,620,Normal,117000
1378,21.0,1953,BrDale,5,1973,2006,987,483,504,Normal,83000
1379,73.0,9735,Timber,5,2006,2008,1394,754,640,Normal,167500
1380,45.0,8212,Edwards,3,1914,2010,864,864,0,Normal,58500
1381,NaN,12925,NAmes,7,1970,2008,2117,2117,0,Normal,237500
1382,60.0,7200,OldTown,7,1920,2006,1762,998,764,Normal,157000
1383,NaN,25339,Sawyer,7,1918,2007,1416,1416,0,Normal,112000
1384,60.0,9060,Edwards,5,1939,2009,1258,698,560,Normal,105000
1385,40.0,5436,IDOTRR,8,1922,2010,1154,796,358,Normal,125500
1386,80.0,16692,NWAmes,5,1978,2006,2784,1392,1392,Normal,250000
1387,60.0,8520,OldTown,7,1916,2007,2526,1664,862,Family,136000
1388,42.0,14892,Gilbert,5,2006,2009,1746,1746,0,Normal,377500
1389,60.0,6000,BrkSide,6,1941,2007,1218,869,349,Normal,131000
1390,70.0,9100,CollgCr,5,2000,2006,1525,1525,0,Normal,235000
1391,65.0,8944,NAmes,5,1967,2009,1584,1584,0,Normal,124000
1392,68.0,7838,NAmes,5,1967,2006,900,900,0,Normal,123000
1393,60.0,10800,OldTown,7,1905,2008,1912,1221,691,Normal,163000
1394,53.0,4045,Blmngtn,5,2006,2006,1500,1500,0,Partial,246578
1395,88.0,12665,Timber,5,2005,2007,2482,1133,1349,Normal,281213
1396,NaN,57200,Timber,5,1948,2010,1687,1687,0,Normal,160000
1397,51.0,6120,BrkSide,8,1920,2007,1513,939,574,Normal,137500
1398,60.0,7200,NAmes,4,1950,2009,1904,1136,768,Normal,138000
1399,51.0,6171,SWISU,6,1925,2009,1608,1160,448,Normal,137450
1400,50.0,6000,BrkSide,7,1929,2008,1158,950,208,Normal,120000

#### 1.4 Some values in the `LotFrontage` column are missing, fill them with *average* value [10%]

In [20]:
subset["LotFrontage"] = subset["LotFrontage"].fillna(value=subset["LotFrontage"].mean())

#### 1.5 Answer the following questions with the *subset* of the data:
Each subquestion is worth **1%**

#### 1.5.1 What were the basic statistics of house prices? (mean, std, min, 25%, 50%, 75%, max)

In [28]:
print(subset["SalePrice"].mean())
print(subset["SalePrice"].std())
print(subset["SalePrice"].min())
print(subset["SalePrice"].quantile(0.25))
print(subset["SalePrice"].quantile(0.50))
print(subset["SalePrice"].quantile(0.75))
print(subset["SalePrice"].max())

180822.34887593673
80509.29815575566
34900
130000.0
162900.0
213490.0
755000

#### 1.5.2 What's the average lot size in square feet? How about the standard deviation?
HINT: Use the column `LotArea`

In [29]:
print(subset["LotArea"].mean())
print(subset["LotArea"].std())

10582.015820149874
10772.869559557923

#### 1.5.3 What year was the oldest house build?

In [30]:
print(subset["YearBuilt"].max())

2010

#### 1.5.4 Follow-up question to the previous one: What was the sale condition of that house?

In [31]:
row = subset[""]
print(subset["SaleCondition"])

200      Normal
201      Normal
202      Normal
203      Normal
204      Normal
205      Normal
206      Normal
207      Normal
208      Normal
209      Normal
210      Normal
211      Normal
212     Partial
213      Normal
214      Normal
215      Normal
216      Normal
217      Family
218      Normal
219     Partial
220     Partial
221      Normal
222      Normal
223     Abnorml
224      Normal
225     Abnorml
226     Abnorml
227      Normal
228      Normal
229      Normal
         ...
1371     Normal
1372     Normal
1373     Normal
1374     Normal
1375    Partial
1376     Normal
1377     Normal
1378     Normal
1379     Normal
1380     Normal
1381     Normal
1382     Normal
1383     Normal
1384     Normal
1385     Normal
1386     Normal
1387     Family
1388     Normal
1389     Normal
1390     Normal
1391     Normal
1392     Normal
1393     Normal
1394    Partial
1395     Normal
1396     Normal
1397     Normal
1398     Normal
1399     Normal
1400     Normal
Name: SaleCondition, Length: 1201, dtype: object

#### 1.5.5 How many houses were built in 2008? How about 2009?

#### 1.5.6 Break-down median prices of houses by year in sold they were sold

#### 1.5.7 What is the average difference between 1st Floor (`1stFlrSF`) and 2nd Floor (`2ndFlrSF`) square feet?

#### 1.5.8 In what neighborhood is the most expensive house situated?

#### 1.5.9 What was the average price of houses with overall condition 8 or higher, built after 1960 (inclusive) and sold before 2009 (exclusive)?

#### 1.5.10 Display the house with id 987? Display the 472nd house in the dataset?

## Part 2: Plotting [total of 30%]

#### 2.1 Univariate (1 variable) [10%, 3.3% each]

#### 2.1.1 Plot the distribution of sale price

#### 2.1.2 Plot the histogram of the overall condition

#### 2.1.3 Create one univariate plot of your own choice

#### 2.2 Bivariate (2 variables) [10%, 3.3% each]

#### 2.2.1 Plot the scatter plot displaying the relationship between above ground living area (`GrLivArea`) and sale price

#### 2.2.2 Plot the boxplot of the relationship between the overall condition and the sale price
HINT: The result should look something like [this](https://s3-us-west-1.amazonaws.com/usfca-cs686-ml/hw1/boxplot_result.png) (however, it's OK if yours looks different as long as you use the right type of plot, data and the right variables)

#### 2.2.3 Create one bivariate plot of your own choice

#### 2.3 Multivariate (2+ variables) [10%, 3.3% each]

#### 2.3.1 Plot the scatter plot displaying the relationship between lot area and sale price, colored by the overall condition

#### 2.3.2 Create one multivariate plot of your own choice

## Part 3: Theory [total of 20%]

### 3.1 Central Limit Theorem (CLT) [total of 10%]

#### 3.1.1 Create an array on 100 000 samples, sampled from a uniform distribution [2%]
HINT: check [this](https://docs.scipy.org/doc/numpy-1.14.5/reference/generated/numpy.random.uniform.html)

#### 3.1.2 Plot the distribution of the data. Does it look like a uniform distribution?  [2%]
HINT: check [this](https://seaborn.pydata.org/tutorial/distributions.html)

#### 3.1.3 Randomly shuffle the data, create pairs ($n=2$) with the original and than average the value of the pair  [1.5%]
In other words:

1. Create new array by shuffling the data you sampled in `3.1.1` ([HINT](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.permutation.html))
2. Stack the new array with the original data into a single 2-D array of shape (100000, 2) ([HINT](https://docs.scipy.org/doc/numpy/reference/generated/numpy.stack.html))
3. Average the newly formed 2-D array by 2nd dimension (i.e. mean with `axis=1`)

#### 3.1.4 Similarly to `3.1.2`, plot the distribution of the pairs. What distribution does it look like? [1.5%]

#### 3.1.5 Compute the mean and standard deviation of the original data and the newly formed data. [1.5%]

#### 3.1.6 Repeat `3.1.3`, `3.1.4` and `3.1.5` for $n=5$. In one sentence, describe how the distribution have changed? Namely think about how the mean $\mu$ and stardard deviation $\sigma$ changed. [1%]
HINT: Similarly to `3.1.3`, shuffle the original data 4 times and then stack into a 2-D array of shape (100000,5). The remaining steps will be the same

#### 3.1.7 Now, do the same for $n=10$. [0.5%]

### 3.2 Hypothesis Testing [total of 10%]

In the following cell, there are data for a given experiment with 2 samples (Control group and Experimental group) with $n=30$ and $\sigma=2.9$.

In [ ]:
# DO NOT CHANGE ANYTHING IN THIS CELL
data = np.array([[12.72,  8.83, 14.14, 14.49,  7.15,  8.53, 10.31, 10.59, 14.5 ,
        15.57, 11.67, 11.46, 20.96, 11.2 ,  9.61, 15.69, 13.04, 12.79,
         7.6 , 10.23,  5.63, 10.64, 10.5 ,  8.07, 13.01, 10.43, 11.47,
        11.18, 10.41, 11.71],
       [23.62, 15.67, 23.82, 15.43, 22.04, 23.02, 19.82, 17.13, 20.35,
        28.82, 22.32, 20.53, 21.46, 16.86, 19.16, 15.53, 19.74, 15.92,
        17.69, 20.68, 19.13, 20.51, 20.99, 15.15, 24.42, 22.73, 23.5 ,
        18.18, 16.37, 18.89]]).transpose()

df = pd.DataFrame(data, columns=["Control", "Experimental"])
df

#### 3.2.1 Show whether there exists a statistically significnat difference between the "Control" group and the "Experimentla group at the $\alpha = 0.05$ level of significnace using Hypothesis testing (assume $\sigma = 2.9$) [8%]

#### 3.2.2 Now, confirm the above  the difference using Confidence intervals [total of 2%]

## Additional Question [OPTIONAL]

*All regular homework questions must be completed to receive any bonus points.*

#### 4.1 Bayes theorem [total of 5% extra]
Emma has lost her watch in either classroom $A$ (with a probability $0.4$) or in classroom $B$ (with a probability $0.6$). On any given break, if the watch is in $A$ and Emma spends the break searching for it in $A$, the conditional probability that she will find the watch during that break is $0.25$. Similarly, if the watch is in $B$ and Emma spends a break looking for it there, the conditional probability that she will find the watch during that break is $0.15$. The watch cannot be moved from one classroom to the other. Emma can search only during the break between classes, and she can move from one classroom to the other only during classes.

1. In which classroom should Emma look to maximize the probability that she finds her watch on the first
    break of the search?
2. Given that Emma looked in $A$ during the first break but didnâ€™t find her watch, what is the probability
    that the watch is in $A$?
3. If Emma flips a fair coin to determine where to look during the first break and finds the watch during
    the first break, what is the probability that she looked in $A$?
4. If the watch is not stolen and not found by the Nth break of the search, it will be stolen that break
    with probability $\frac{N}{N+2}$. Emma has decided to look in $A$ during the first two breaks. What is the
    probability that she will find her watch for the first time during the second break?
    
##### Refresher:
* **Law of total probability** $$P(A) = \sum_{n}{P(A|B_{n}) P(B_{n})}$$
* **Bayes theorem** - $$P(B|A) = \frac{P(A|B) P(B)}{P(A)}$$

**Type your answer in this cell**

Use $\LaTeX$ where appropriate

#### 4.2 Kaggle exploratory data analysis [total of 10% extra]

This is more of an open-ended question related to the on-going [Kaggle](https://www.kaggle.com/) competition: [Elo Merchant Category Recommendation](https://www.kaggle.com/c/elo-merchant-category-recommendation). In order to get the extra credit you need to **either**:

* Download the [data](https://www.kaggle.com/c/elo-merchant-category-recommendation/data), create a new Jupyter Notebook (outside of this one) and perform an exploratory data analysis of your own. Your submission will then be the **.ipynb file** with EDA of the competition data.
* Create a [Kaggle kernel](https://www.kaggle.com/c/elo-merchant-category-recommendation/kernels) (i.e. a Jupyter notebook that runs on Kaggle's infrastructure). Your submission will then be the **URL** to the Kaggle kernel.

Feel free look for inspiration in other Kaggle kernels, **however do not copy/paste any code without citing the source.** If you do copy a piece of code without the appropriate resource citing, you will be deducted 1 point. In order to receive the extra credit, at least 50% of the notebook should be your own work. This question will be graded on a continuous scale, the more extensive your analysis, the more points will be attributed.