In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/reduced-aggregated.csv")

In [27]:
df.head(10)

,MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE,Unnamed: 13
0,2.0,5.0,2017-02-03,B6,33.0,BTV,"Burlington, VT",JFK,"New York, NY",1907.0,0.0,90.0,266.0,NaN
1,2.0,7.0,2017-02-12,B6,33.0,BTV,"Burlington, VT",JFK,"New York, NY",1907.0,1.0,90.0,266.0,NaN
2,2.0,1.0,2017-02-13,B6,33.0,BTV,"Burlington, VT",JFK,"New York, NY",1907.0,1.0,90.0,266.0,NaN
3,2.0,1.0,2017-02-27,B6,33.0,DCA,"Washington, DC",PBI,"West Palm Beach/Palm Beach, FL",1730.0,0.0,157.0,857.0,NaN
4,2.0,2.0,2017-02-14,B6,34.0,JFK,"New York, NY",BTV,"Burlington, VT",1706.0,0.0,81.0,266.0,NaN
5,2.0,5.0,2017-02-17,B6,34.0,PBI,"West Palm Beach/Palm Beach, FL",DCA,"Washington, DC",2045.0,0.0,133.0,857.0,NaN
6,2.0,6.0,2017-02-18,B6,34.0,PBI,"West Palm Beach/Palm Beach, FL",DCA,"Washington, DC",2045.0,0.0,133.0,857.0,NaN
7,2.0,1.0,2017-02-27,B6,34.0,PBI,"West Palm Beach/Palm Beach, FL",DCA,"Washington, DC",2045.0,0.0,133.0,857.0,NaN
8,2.0,3.0,2017-02-01,B6,42.0,LGB,"Long Beach, CA",RNO,"Reno, NV",912.0,0.0,87.0,402.0,NaN
9,2.0,5.0,2017-02-10,B6,42.0,LGB,"Long Beach, CA",RNO,"Reno, NV",912.0,0.0,87.0,402.0,NaN

In [14]:
def clean_data(df):
    df.drop(columns=["Unnamed: 13"])
    df.drop()

In [24]:
df.nunique()

MONTH                 11
DAY_OF_WEEK            7
FL_DATE              334
UNIQUE_CARRIER        12
FL_NUM              6774
ORIGIN               309
ORIGIN_CITY_NAME     305
DEST                 310
DEST_CITY_NAME       306
CRS_DEP_TIME        1289
ARR_DEL15              2
CRS_ELAPSED_TIME     546
DISTANCE            1331
Unnamed: 13            0
dtype: int64

In [26]:
df.FL_NUM.unique()

array([  33.,   34.,   42., ..., 4975., 6512., 4943.])